*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#ece5dd;
}

.navbar{

background:#6c2bd9;

color:white;

padding:18px 40px;

display:flex;

justify-content:space-between;

align-items:center;

}

.navbar button{

padding:10px 20px;

border:none;

border-radius:6px;

cursor:pointer;

}

.chat-container{

width:450px;

height:650px;

background:white;

margin:30px auto;

display:flex;

flex-direction:column;

border-radius:12px;

overflow:hidden;

box-shadow:0 5px 20px rgba(0,0,0,.2);

}

.chat-header{

display:flex;

align-items:center;

gap:15px;

padding:15px;

background:#6c2bd9;

color:white;

}

.chat-header img{

width:55px;

height:55px;

border-radius:50%;

}

.chat-box{

flex:1;

padding:20px;

overflow-y:auto;

background:#f8f8f8;

}

.chat-input{

display:flex;

padding:10px;

background:white;

}

.chat-input input{

flex:1;

padding:12px;

}

.chat-input button{

padding:12px 20px;

background:#ff9800;

border:none;

color:white;

cursor:pointer;

}