*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8f8f8;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-container{
    width:380px;
    background:#fff;
    padding:35px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,0.15);
    text-align:center;
}

.login-container h2{
    color:#ff6b00;
    margin-bottom:25px;
}

.login-container input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:16px;
}

.login-container input:focus{
    outline:none;
    border:1px solid #ff6b00;
}

.login-container button{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:none;
    border-radius:8px;
    background:#ff6b00;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.login-container button:hover{
    background:#e65c00;
}

.login-container p{
    margin-top:20px;
}

.login-container a{
    text-decoration:none;
    color:#ff6b00;
    font-weight:bold;
}